<div class="gh-members-empty">
    {{svg-jar "members-placeholder" class="gh-members-placeholder"}}
    <h4>ابدأ في بناء جمهورك</h4>
    {{#if (not-eq this.settings.membersSignupAccess "none")}}
        <p>استخدم العضوية للسماح لقرائك بالتسجيل والاشتراك في محتواك.</p>
        <button class="gh-btn gh-btn-green" type="button" {{on "click" this.addYourself}} data-test-button="add-yourself">
            <span>أضف نفسك كعضو لاختبار</span>
        </button>
        <p class="gh-members-empty-secondary-cta">هل لديك أعضاء بالفعل؟ <LinkTo @route="member.new">أضفهم يدويًا</LinkTo> أو <LinkTo @route="members.import">استيراد من CSV</LinkTo></p>
    {{else}}
        <p>تم تعطيل العضوية. قم بتعديل إعدادات الوصول للاشتراك لبدء إضافة الأعضاء.</p>
        <LinkTo @route="settings-x.settings-x" @model="members" class="gh-btn gh-btn-green">
            <span>إعدادات العضوية</span>
        </LinkTo>
    {{/if}}
</div>
